Django==3.2.5
requests==2.26.0
mysqlclient==2.1.0
asgiref==3.7.2
autopep8==1.7.0
beautifulsoup4==4.12.2
comtypes==1.1.14
crispy-bootstrap4==2022.1
Django==4.2.5
django-bootstrap4==23.2
django-crispy-forms==2.0
et-xmlfile==1.1.0
lxml==4.9.1
mysqlclient==2.2.0
numpy==1.25.2
openpyxl==3.1.2
pandas==2.1.0
Pillow==10.0.0
pycodestyle==2.9.1
pypiwin32==223
python-dateutil==2.8.2
python-docx==0.8.10
pyttsx3==2.90
pytz==2023.3.post1
pywin32==304
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tksplash==0.0.8
toml==0.10.2
typing_extensions==4.7.1
tzdata==2023.3
