{% extends 'tasks/base.html' %}

{% block title %}Blog | A.S.E.{% endblock %}

{% block content %}
<div class="container blog-container">
    <h1>Blog</h1>
    <div class="row">
        <!-- Loop through and display blog posts here -->
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
