{% extends "base.html" %}

{% block content %}
  <h2>All Aircraft Data</h2>
  <table>
    <thead>
      <tr>
        <th>Registration</th>
        <th>Client</th>
        <th>Job Number</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for aircraft in aircraft %}
        <tr>
          <td>{{ aircraft.registration }}</td>
          <td>{{ aircraft.client }}</td>
          <td>{{ aircraft.job_number }}</td>
          <td>{{ aircraft.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'add_aircraft' %}">Add Aircraft</a>
{% endblock %}
