<!-- templates/myapp/contact_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Form</title>
</head>
<body>
    <h2>Contact Us</h2>
    <form method="post">
        {% csrf_token %}

        <!-- Render form fields using template tags -->
        {{ form.subject.label_tag }} {{ form.subject }}
        <br>
        {{ form.message.label_tag }} {{ form.message }}
        <br>
        {{ form.sender.label_tag }} {{ form.sender }}
        <br>
        {{ form.cc_myself.label_tag }} {{ form.cc_myself }}
        <br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
